html, body {
    background: #282c34;
}

label {
    color: #FFF;
}

#bottom-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
